{% extends "./base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="./public/styles/home.css">
{% endblock %}

{% block body %}
	{{parent()}}
	{% set usr = app.session.get('object_symfony_session_usr') %}
	<div class="flex-container">
		<div class="row">
			{% for item in conn %}
				<aside class="flex-item">
					<span>
						<img src="./public/images/{{item.Image}}">
					</span>
					<br/>
					<b style="line-heigth:2px;font-size:24px;">
						<a href="./{{item.id}}" style="text-decoration:none; color:black;">«{{item.Title}}»</a>
					</b>
					<br/>
					<span>Пользователь:
						{{item.Userid}}</span>
					<br/>
					<span>Категория:
						{{item.Entityid}}</span>
					<p style="font-size:16px;">{{item.Description}}</p>
					<span style="color:gray;">{{item.Date}}</span>
					<br/>
					{% if usr %}

						{% if usr.RoleId == 2 or usr.Name == item.Userid %}
							<div class="buttons" style="padding-right:5px;">
								<a href="./append?id={{item.id}}" style="text-decoration:none; color:white; border:2px solid green; background-color:green;">Изменить</a>
								<a href="./append?Remove={{item.id}}" style="text-decoration:none; color:white;border:2px solid red;background-color:red;">Удалить</a>
							</div>
						{% endif %}
					{% endif %}
				</aside>
			{% endfor %}
		</div>
		<br/><br/><br/>
	</div>
{% endblock %}
