{% extends "./base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="./public/styles/mce.css">

{% endblock %}
{% block js %}
	{{parent()}}
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({selector: 'textarea', plugins: 'image, visualblocks, table, codesample, directionality, lists, link, pagebreak, noneditable, paste, template'});
	</script>

{% endblock %}

{% block body %}
	{{parent()}}
	<form class="register-form" method="post" action="{{ path('app_content_post') }}" style="padding-top:50px;width:100%; height:100%;display:flex;flex-direction:column;align-items:center;">

		{% if usr.getRoleId == 2 %}
			{% if changecontent %}
				<h2 style="color:black;">Change mod</h2>
			{% else %}
				<h2 style="color:black;">Append mode</h2>
			{% endif %}
		{% else %}
			{% if changecontent %}
				<h2 style="color:black;">Change mod</h2>
			{% else %}
				<h2 style="color:black;">Request mode</h2>
			{% endif %}
		{% endif %}
		<label>Категория:
		</label>
		<select style="margin-top:5px;" name="category">
			{% for type, items in nav_content.getNavContent %}
				{% for key, value in items %}
					{% if key == 'Name' %}
						<option value="{{value}}">
							{{value}}
						</option>
						{% if changecontent %}
							{% if changecontent.0.EntityId == value %}
								<option selected value="{{value}}">
									{{value}}
								</option>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</select>
		<br/>
		<label>Название:
		</label>
		{% if changecontent %}
			<input name="title" value="{{changecontent.0.getTitle}}" style="margin-top:5px;" type="text"/>
		{% else %}
			<input name="title" style="margin-top:5px;" type="text"/>
		{% endif %}
		<br/>
		<label>Описание:
		</label>
		{% if changecontent %}
			<input name="desc" value="{{changecontent.0.getDescription}}" style="margin-top:5px;" type="text"/>
		{% else %}
			<input name="desc" style="margin-top:5px;" type="text"/>
		{% endif %}
		<br/><br/>
		<textarea name="append_data" rows="40" cols="190">
			{% if changecontent %}
				{{changecontent.0.getContent | raw}}
			{% endif %}
		</textarea>
		{% if changecontent %}
			<input name="IsUpdate" value="{{changecontent.0.getId}}" visibility="hidden"/>
		{% endif %}
		<center>
			<button style="																																																																																																																																																																																																																																																																														background-color: #4CAF50;
																																																																																																																																																																																																																																																																																			border: none;
																																																																																																																																																																																																																																																																																			color: white;
																																																																																																																																																																																																																																																																																			padding: 15px 32px;
																																																																																																																																																																																																																																																																																			text-align: center;
																																																																																																																																																																																																																																																																																			text-decoration: none;
																																																																																																																																																																																																																																																																																			display: inline-block;
																																																																																																																																																																																																																																																																																			font-size: 16px;">
				Append
			</button>
		</center>
		<br/><br/><br/>
	</form>
{% endblock %}
