<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block js %}
			<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
			<script src="./public/js/nav-toggle.js"></script>
		{% endblock %}
		{% block stylesheets %}
			<link rel="stylesheet" href="./public/styles/style.css">
		{% endblock %}
	</head>
	<body>
		{% block body %}
			{% set usr = app.session.get('object_symfony_session_usr') %}
			<div id="slidetoggle" style="background-color:black;position:fixed;width:70px;margin-left:0;padding-left:23px;padding-bottom:18px;margin-top:0;padding-top:18px;margin-top:0;top:0;">
				<img src="https://img.icons8.com/officel/30/000000/menu.png">
			</div>
			<header>
				<div class="header_logo clearfix" style="position:fixed;top:0;left:80px;right:0;">
					<center class="clearfix">
						<a href="/dstoi" style="text-decoration:none; color:white;margin-left:-200px;">News Portal</a>
					</center>
				</div>
				<nav id="block" role="navigation" style="overflow-y: auto; top:70px;position:fixed;display:flex;flex-direction:column;">
					<center style="border: 1px solid black; background-color: #222; padding-bottom:20px;">
						{% if not usr %}
							<a style="text-decoration:none; color:white;font-size:14px;" href="./SignUp">Регистрация</a>
							<a style="text-decoration:none;color:white;font-size:14px;" href="./SignIn">Вход</a>
						{% else %}
							<a style="text-decoration:none; color:white;font-size:14px;" href="./Profile">{{ usr.getName() }}</a>
							<a style="text-decoration:none;color:white;font-size:14px;" href="./LogOut">Выход</a>
						{% endif %}
					</center>
					<ul>
						{% if usr %}
							<li>
								<a href="{{ path('Profile') }}">Profile</a>
							</li>
							{% if usr.getRoleId() == 2 %}
								<li>
									<a href="{{ path('append') }}">Append</a>
								</li>
								<li>
									<a href="{{ path('Req') }}">Requests</a>
								</li>
							{% else %}
								{% if usr.getRoleId() == 1 %}
									<li>
										<a href="{{ path('append') }}">Pull request</a>
									</li>
								{% endif %}
							{% endif %}
						{% endif %}
						<li>
							<a href="#">Category
								<img style="width:15px; heigth:15px;" src="./public/images/chevron.svg"></a>
							<ul class="dropdown">
								{% for type, items in nav_content.getNavContent %}
									{% for key, value in items %}
										{% if key == 'Name' %}
											<li>
												<a href="./?Category={{value}}">{{ value }}</a>
											</li>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</ul>
						</li>
					</ul>
				</nav>
			</header>
		{% endblock %}
	</body>
</html>
