<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block js %}
			<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
			<script src="./public/js/nav-toggle.js"></script>
		{% endblock %}
		{% block stylesheets %}
			<link rel="stylesheet" href="/dstoi/public/styles/style.css">
		{% endblock %}
	</head>
	<body>
		{% block body %}
			{% set usr = app.session.get('object_symfony_session_usr') %}
			<div class="header_logo clearfix">
				<div class="title clearfix">
					<a href="/dstoi" style="text-decoration:none;">News Portal<b style="color:red;">.</b>
					</a>
					<div class="temp_cont">
						<ul>
							<li>Температура:
								{{temperature_content.getTemperature.0.tmpre}}°C</li>
							<li>Ощущается как:
								{{temperature_content.getTemperature.1.fl}}°C</li>
							<li>Минимальная температура:
								{{temperature_content.getTemperature.2.tmpremin}}°C</li>
							<li>Максимальная температура:
								{{temperature_content.getTemperature.3.tmpremax}}°C</li>
						</ul>
					</div>
					<div class="find_cont">
						<input type="search" id="search" placeholder="Search..."/>
					</div>
				</div>
			</div>
			<header>
				<nav id="block" role="navigation">
					<ul class="Menu">
						{% if not usr %}
							<li>
								<a href="./SignUp">Регистрация</a>
							</li>
							<li>
								<a href="./SignIn">Вход</a>
							</li>
						{% else %}
							<li>
								<a href="./Profile">{{ usr.getName() }}</a>
							</li>
							<li>
								<a href="./LogOut">Выход</a>
							</li>
						{% endif %}
						{% if usr %}
							<li>
								<a href="{{ path('Profile') }}">Profile</a>
							</li>
							{% if usr.getRoleId() == 2 %}
								<li>
									<a href="{{ path('append') }}">Append</a>
								</li>
								<li>
									<a href="{{ path('Req') }}">Requests</a>
								</li>
							{% else %}
								{% if usr.getRoleId() == 1 %}
									<li>
										<a href="{{ path('append') }}">Pull request</a>
									</li>
								{% endif %}
							{% endif %}
						{% endif %}


						{% for type, items in nav_content.getNavContent %}
							{% for key, value in items %}
								{% if key == 'Name' %}

									<li>
										<a href="./?Category={{value}}">{{ value }}</a>
									</li>

								{% endif %}
							{% endfor %}
						{% endfor %}


					</ul>
				</nav>
			</header>
		{% endblock %}
	</body>
</html>
