{% extends "./base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="./public/styles/home.css">
{% endblock %}

{% block body %}
	{{parent()}}
	{% set usr = app.session.get('object_symfony_session_usr') %}
	<div class="flex-container">
		{% for item in req_vec %}
			<aside class="flex-item">
				<span>
					<img src="./public/images/{{item.Image}}">
				</span>
				<br/>
				<b style="line-heigth:2px;font-size:30px;">
					<a href="./{{item.id}}?viewrequest=1" style="text-decoration:none; color:black;">«{{item.Title}}»</a>
				</b>
				<br/>
				<span style="font-size:16px;">Пользователь:
					{{item.Userid}}</span>
				<br/>
				<span style="font-size:16px;">Категория:
					{{item.Entityid}}</span>
				<p style="font-size:20px;font-weight: bold;">{{item.Description}}</p>
				<span style="color:gray;font-size:12px;">{{item.Date}}</span>
				<br/>
				{% if usr %}
					{% if usr.RoleId == 2 %}
						<div class="buttons">
							<a href="./request?Accept={{item.id}}" style="text-decoration:none; color:white; border:2px solid green; background-color:green;">Accept</a>
							<a href="./request?Reject={{item.id}}" style="text-decoration:none; color:white;border:2px solid red;background-color:red;">Reject</a>
						</div>
					{% endif %}
				{% endif %}
			</aside>
		{% endfor %}
	</div>
{% endblock %}
