{% extends "./base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="./public/styles/home.css">
{% endblock %}

{% block body %}
	{{parent()}}
	{% set usr = app.session.get('object_symfony_session_usr') %}
	<div>
		{% for item in req_vec %}
			<aside>
				<b style="line-heigth:2px;font-size:24px;">
					<a href="./{{item.id}}?viewrequest=1" style="text-decoration:none; color:black;">{{item.Title}}</a>
				</b>
				<br/>
				<span>{{item.Userid}}</span>
				<br/>
				<span>{{item.Entityid}}</span>
				<br/>
				<p>{{item.Description}}</p>
				<br/>
				<span>{{item.Date}}</span>
			</aside>
		{% endfor %}
	</div>
{% endblock %}
